body{
    background-color: aquamarine;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
   
    justify-content: center;
    align-items: center;
    height: 100vh;
  

}
h1{
    color: darkblue;
}
p{
    color: darkgreen;
    font-size: 18px;
    text-align: center;
  
}
a{
    color: darkred;
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    text-decoration: underline;
}
div{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    color: darkorange;
    font-weight: bold;
    background-color: lightyellow;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
main{
    padding: 20px;
    background-color: lightcyan;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    
}
